@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family : 'Pretendard', sans-serif;
}

:root {
    --main-color:#1758A7;
    --text-color:#333;
}

.wrap {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1F5F8;
}

    .wrap .container {
        padding:80px 9.375%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

        /* title */
        .container .title-frame {
            display: flex;
            align-items: center;
            margin-bottom: 60px;
        }

            .title-frame .back {
                width: 40px;
                height:40px;
                margin-right: 24px;
            }

            .title-frame .title {
                font-size: 48px;
                font-weight: bold;
                color: var(--main-color);
            }

        /* voiceRecog */
        .container .voiceRecog-frame {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }

            .voiceRecog-frame .voice-icon {
                width: 40px;
                height: 40px;
                margin-right: 24px;
            }

            .voiceRecog-frame .voice-text {
                font-size: 28px;
                font-weight: 400;
                color:var(--text-color)
            }

        /* FloorList */
        .container .floorList-frame {
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            align-items: center;
            justify-content: space-between;
            
            width: 100%;
            margin-top: auto;
        }

            .floor {
                display: flex;
                align-items: center;
                justify-content: center;

                width:49%;

                padding: 100px 0px;
                margin-bottom: 2%;
                border-radius: 16px;

                background-color: white;
                box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12);

                cursor: pointer;
            }

            .floor .floor-text {
                font-size: 40px;
                font-weight: bold;
                color: var(--main-color);
            }