@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family : 'Pretendard', sans-serif;
}

:root {
    --main-color:#1758A7;
    --text-color:#333;
}

.wrap {
    height: 100vh;
    background-color: #F1F5F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 60px;
}

    .wrap .container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
        padding: 40px;

        border-radius: 36px;
        background-color: white;
        box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12);
    }

        /* 상단영 역 */
        .container .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            /* 뒤로가기 */
            .top .back-frame {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

                .back-frame .back-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 20px;
                }

                .back-frame .back-text {
                    font-size: 32px;
                    font-weight: 500;
                    color:var(--text-color);
                }

            /* 음성 인식 */
            .top .voice-frame {
                display: flex;
                align-items: center;
                width: fit-content;
                background-color: #058FD3;

                border-radius: 50px;
                padding: 10px 28px;
            }

                .voice-frame .voice-icon {
                    width: 36px;
                    height: 36px;
                    margin-right: 28px;
                }

                .voice-frame .voice-text {
                    color: white;
                    font-size: 24px;
                    font-weight: 400;
                }

        /* 상단영 역 */
        .container .bottom {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            width: 100%;
            margin-top: 20px;
        }

            .bottom .building {
                width: 22%;
                border-radius: 16px;
                box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.12);
                margin-bottom:4%;

                cursor: pointer;
                transition: .3s;
            }

            .bottom .building:hover {
                box-shadow: 4px 8px 20px rgba(5, 143, 211, 0.2);
            }


            .bottom #D-Dong,
            .bottom #E-Dong,
            .bottom #G-Dong,
            .bottom #CEC {
                margin-bottom:0px !important;
            }


                /* 건물 이미지 */
                .building .building-img {
                    width: 100%;
                    height: 160px;
                }

                /* 건물 텍스트 정보 */
                .building .building-info-frame {
                    padding: 20px;
                }

                    .building-info-frame .building-title {
                        font-size: 28px;
                        font-weight: 500;
                        color:var(--text-color);

                        margin-bottom: 16px;
                    }

                    .building-info-frame .room-info {
                        display: flex;
                        flex-direction: column;
                    }

                        .room-info > div {
                            display: flex;
                            align-items: center;
                        }

                        .room-info > div:nth-child(1) {
                            margin-bottom: 4px;
                        }

                            /* use room */
                            .use-room .use-room-text {
                                font-size: 20px;
                                font-weight: 400;
                                color:var(--text-color);
                                margin-right: 24px;
                            }

                            .use-room .use-room-count {
                                font-size: 20px;
                                font-weight: 400;
                                color:#E7101A;
                            }

                            .use-room .use-room-text {
                                font-size: 20px;
                                font-weight: 400;
                                color:var(--text-color);
                                margin-right: 24px;
                            }

                            .use-room .use-room-count {
                                font-size: 20px;
                                font-weight: 400;
                                color:#E7101A;
                            }

                            /* empty room */
                            .empty-room .empty-room-text {
                                font-size: 20px;
                                font-weight: 400;
                                color:var(--text-color);
                                margin-right: 24px;
                            }

                            .empty-room .empty-room-count {
                                font-size: 20px;
                                font-weight: 400;
                                color:#E7101A;
                            }

                            .empty-room .empty-room-text {
                                font-size: 20px;
                                font-weight: 400;
                                color:var(--text-color);
                                margin-right: 24px;
                            }

                            .empty-room .empty-room-count {
                                font-size: 20px;
                                font-weight: 400;
                                color:#058FD3;
                            }